.users{
  padding: 20px;
  &__title{
    font-size: 28px;
    margin-bottom: 20px;
  }
}
.pagination{
  display: flex;
  justify-content: center;
  margin: 20px 0;
  &__item{
    font-weight: 400;
    padding: 10px;
    cursor: pointer;
    &:not(:last-child){
      margin-right: 10px;
    }
    &_active{
      color: #68ffcd;
      font-weight: bold;
    }
  }
}