.header{
  grid-area: header;
  border: 1px solid red;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    max-width: 100px;
    object-fit: contain;
  }
}