.sidebar{
  grid-area: nav;
  border: 1px solid red;
  padding: 20px
}
.friends{
  &__title{
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 28px;
  }
  &__wrap{
    display: flex;
  }
}
.nav{
  margin-bottom: 80px;
}